In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('BD SELECTION O TEIMA_01-11-2021.xlsx', header=[1])
df

,Code UP,ZONE,Nom UP,N° SNIT génisse,N° SNIT génisse_1,N° SNIT génisse_2,N° CARTE SNIT,Date de naissance,RACE,N° SNIT Mère,N° SNIT Mère_1,N° SNIT Mère_2,N° SNIT père ou nom (taureau IA),Date de sélection,OBSERVATION,Unnamed: 15,Unnamed: 16
0,M-09-014,MASSA,BOUZOUAI ALI,MAR06BB000096118,NaN,NaN,NaN,2016-10-15 00:00:00,HOL,MAR06BG000088165,NaN,NaN,BACON,2018-01-17,OK,NaN,NaN
1,M-09-014,MASSA,BOUZOUAI ALI,MAR06BE000096119,NaN,NaN,NaN,2016-10-20 00:00:00,HOL,MAR06BI000088185,NaN,NaN,BRANCH-ET,2018-01-17,OK,NaN,NaN
2,M-09-014,MASSA,BOUZOUAI ALI,MAR06BI000096120,NaN,NaN,NaN,2016-10-29 00:00:00,HOL,MAR06BF000088168,NaN,NaN,MICAH-ET,2018-01-17,OK,NaN,NaN
3,M-09-014,MASSA,BOUZOUAI ALI,MAR06BB000096121,NaN,NaN,NaN,2016-11-04 00:00:00,HOL,MAR06BB000088157,NaN,NaN,MICAH-ET,2018-01-17,OK,NaN,NaN
4,M-09-014,MASSA,BOUZOUAI ALI,MAR06BE000096122,NaN,NaN,NaN,2016-11-06 00:00:00,HOL,MAR06BG000088194,NaN,NaN,GINARY JAKE,2018-01-17,OK,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13617,NaN,NaN,NaN,MAR06BE000394406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
13618,NaN,NaN,NaN,MAR06BB000394405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
13619,NaN,NaN,NaN,MAR06BB000446438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
13620,NaN,NaN,NaN,MAR06BJ000394399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
13621,NaN,NaN,NaN,MAR06BI000394404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [4]:
df.isna().sum()

Code UP                              1127
ZONE                                  508
Nom UP                                 15
N° SNIT génisse                         2
N° SNIT génisse_1                   12996
N° SNIT génisse_2                   13621
N° CARTE SNIT                       10699
Date de naissance                      17
RACE                                  154
N° SNIT Mère                         1213
N° SNIT Mère_1                      13170
N° SNIT Mère_2                      13611
N° SNIT père ou nom (taureau IA)     1248
Date de sélection                      15
OBSERVATION                            17
Unnamed: 15                         13622
Unnamed: 16                         13618
dtype: int64

In [5]:
df.columns

Index(['Code UP', 'ZONE ', 'Nom UP', 'N° SNIT génisse', 'N° SNIT génisse_1',
       'N° SNIT génisse_2', 'N° CARTE SNIT', 'Date de naissance', 'RACE',
       'N° SNIT Mère', 'N° SNIT Mère_1', 'N° SNIT Mère_2',
       'N° SNIT père ou nom (taureau IA)', 'Date de sélection', 'OBSERVATION',
       'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [6]:
df.dtypes

Code UP                                     object
ZONE                                        object
Nom UP                                      object
N° SNIT génisse                             object
N° SNIT génisse_1                           object
N° SNIT génisse_2                           object
N° CARTE SNIT                               object
Date de naissance                           object
RACE                                        object
N° SNIT Mère                                object
N° SNIT Mère_1                              object
N° SNIT Mère_2                              object
N° SNIT père ou nom (taureau IA)            object
Date de sélection                   datetime64[ns]
OBSERVATION                                 object
Unnamed: 15                                float64
Unnamed: 16                                 object
dtype: object

In [7]:
k= df[df['Unnamed: 16'].notna()]
k

,Code UP,ZONE,Nom UP,N° SNIT génisse,N° SNIT génisse_1,N° SNIT génisse_2,N° CARTE SNIT,Date de naissance,RACE,N° SNIT Mère,N° SNIT Mère_1,N° SNIT Mère_2,N° SNIT père ou nom (taureau IA),Date de sélection,OBSERVATION,Unnamed: 15,Unnamed: 16
2831,O-09-026,O TEIMA,LAGRIDANI ALI,MAR06BE000194707,NaN,NaN,NaN,2016-07-28 00:00:00,HOL,MAR06BI000152068,NaN,NaN,KRAMER 561,2017-11-23,OK,NaN,MAR06BI000275211
2832,O-09-026,O TEIMA,LAGRIDANI ALI,MAR06BD000187432,NaN,NaN,NaN,2016-08-03 00:00:00,HOL,MAR06BB000152001,NaN,NaN,FEAST ET,2017-11-23,OK,NaN,MAR06BC000154934
2833,O-09-026,O TEIMA,LAGRIDANI ALI,MAR06BF000231704,NaN,NaN,NaN,2016-08-10 00:00:00,HOL,MAR06BF000152067,NaN,NaN,BACON,2017-11-23,OK,NaN,MAR06BG000202484
2834,O-09-026,O TEIMA,LAGRIDANI ALI,MAR06BB000231706,NaN,NaN,NaN,2016-08-13 00:00:00,HOL,MAR06BE000152086,NaN,NaN,WILLIAMSBURG,2017-11-23,OK,NaN,MAR06BD000271933

In [3]:
df_subset  = df[['Code UP', 'ZONE ', 'Nom UP', 'N° SNIT génisse', 'N° SNIT génisse_1',
       'N° SNIT génisse_2', 'N° CARTE SNIT', 'Date de naissance', 'RACE',
       'N° SNIT Mère', 'N° SNIT Mère_1', 'N° SNIT Mère_2',
       'N° SNIT père ou nom (taureau IA)', 'Date de sélection', 'OBSERVATION']]
df_subset

,Code UP,ZONE,Nom UP,N° SNIT génisse,N° SNIT génisse_1,N° SNIT génisse_2,N° CARTE SNIT,Date de naissance,RACE,N° SNIT Mère,N° SNIT Mère_1,N° SNIT Mère_2,N° SNIT père ou nom (taureau IA),Date de sélection,OBSERVATION
0,M-09-014,MASSA,BOUZOUAI ALI,MAR06BB000096118,NaN,NaN,NaN,2016-10-15 00:00:00,HOL,MAR06BG000088165,NaN,NaN,BACON,2018-01-17,OK
1,M-09-014,MASSA,BOUZOUAI ALI,MAR06BE000096119,NaN,NaN,NaN,2016-10-20 00:00:00,HOL,MAR06BI000088185,NaN,NaN,BRANCH-ET,2018-01-17,OK
2,M-09-014,MASSA,BOUZOUAI ALI,MAR06BI000096120,NaN,NaN,NaN,2016-10-29 00:00:00,HOL,MAR06BF000088168,NaN,NaN,MICAH-ET,2018-01-17,OK
3,M-09-014,MASSA,BOUZOUAI ALI,MAR06BB000096121,NaN,NaN,NaN,2016-11-04 00:00:00,HOL,MAR06BB000088157,NaN,NaN,MICAH-ET,2018-01-17,OK
4,M-09-014,MASSA,BOUZOUAI ALI,MAR06BE000096122,NaN,NaN,NaN,2016-11-06 00:00:00,HOL,MAR06BG000088194,NaN,NaN,GINARY JAKE,2018-01-17,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13617,NaN,NaN,NaN,MAR06BE000394406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
13618,NaN,NaN,NaN,MAR06BB000394405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
13619,NaN,NaN,NaN,MAR06BB000446438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
13620,NaN,NaN,NaN,MAR06BJ000394399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
13621,NaN,NaN,NaN,MAR06BI000394404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [4]:
uniqueRace = df_subset['OBSERVATION'].unique()
uniqueRace

array(['OK', 'NON TROUVEE', 'NON PRESENTEE', 'CNC',
       'NON BOUCLEE LE "16-02-2017"', 'DECES', 'MERE NON CONFORME',
       'SORTIE', 'MNC (GENEALOGIE)', 'PÈRE NON CONFORME',
       'CONFORMATION NON CONFORME', 'MERE NON CONFORME (GENEALOGIE)',
       'RACE A VINADE', 'CROISEE (HOL*BBB)',
       'NON BOUCLEE "LE 23-02-2017" ',
       'AGE NON CONFORME + MERE NON CONFORME (LAIT)',
       'CONFOMRATION NON CONFORME', 'MERE NON CONFORME (LAIT)', 'CROISEE',
       'AGE NON CONFORME + MERE NON CONFORME (GENEALOGIE)',
       'MERE NON CONFORME (LAIT) + MERE NON CONFORME (GENEALOGIE)',
       'MALE', 'DÉJÀ SELECTIONNEE LE 18/05/2016',
       'NON PRESENTEE LE 09-03-2017', 'NON PRESENTEE LE 09-03-2018',
       'GENISSE NON PRODUITE SUR UNITE',
       'MERE NON CONFORME (GENEALOGIE) + NAISSANCE NON SIGNALE AU NIVEAU DE REGISTRE DES NAISSANCES',
       'NON PRESENTEE LE "16/03/2017"', 'RACE A VIANDE', 'CROISEE HL*MB',
       'MERE NON CONFORME (LAIT) + AGE NON CONFORME',
       'NON PRESENTEE LE "23-03-2017"', 'NON BOUCLE LE "17/04/2017"',
       'MERE NON CONFORME (PEDIGREE)', 'NON PRESENTEE LE 21-06-2017',
       'MERE NON CONFORME (PEDIGREE + PROBLEME CARTE SNIT))',
       'MERE NON CONFORME (PROBLEME CARTE SNIT)',
       'NON PRESENTEE LE 21-06-2017 ET MERE NON CONFORME (PEDIGREE)',
       'MERE NON CONFORME (PROBLEME CARTE SNIT) + CONFORMATION NON CONFORME',
       'AGE NON CONFORME',
       'AGE NON CONFORME + MERE NON CONFORME (PEDIGRE)',
       'MERE NON CONFORME (PEDIGRE)', 'Non trouvée', 'RACE CROISEE',
       'Sortie', 'Sans Boucle', 'Mére non conforme', 'RACE CROISE',
       'non trouvée', 'SANS BOUCLE', 'LACTATION NQ ', 'sortie',
       'Race croisée', 'LACTATION NON QUALIFIANTE', 'Vélage',
       'Mére Non Conforme', 'ok', 'C.N.C.', 'MANQUE CARTE SNIT', 'M.N.C.',
       'déjà sélectionnée 03/08/2017', 'NON PRESENTEE+M.N.C.',
       'M.N.C. + NON PRESENTEE', 'MÂLE', 'PBL DE BOUCLES',
       'DÉJÀ SELECTIONNEE', 'MANQUE FICHE LACTATION',
       'MANQUE DE DOCUMENTS (CARTE SNIT)', 'NON PRESENTEE LE 30/11/2017',
       'SORTIE+AGE NON CONFORME', 'SANS BOUCLE LE "08-11-2017"',
       'CROISEE + DECES', 'SANS BOUCLE LE 08-11-2017',
       'NON BOUCLEE LE "08-11-2017"',
       'DÉJÀ SELECTIONNEE "01/06/2016" +AGE NON CONFORME',
       'T.FERME (GPM)', 'MERE NON CONFORME (GENEALOGIE) + SORTIE',
       'Déjà sélectionnée(PV17/02/2017)', 'CROISEE (HL*ANGUS)',
       'MANQ CARTE SNIT', 'CROISEE(HL*MB)', 'MERE N.C (GENEALOGIE)',
       'MNC', 'CROISEE (FLK*HL)', 'MERE N.C (Généalogie)',
       'MERE NON CONFORME (ORIGINE)', 'CARTE SNIT ERRONEE',
       'RACE CROISEE + SORTIE', 'PÈRE NON CONFORME (TAUREAU DE FERME)',
       'RACE CROISEE (PÈRE NON CONFORME) + SORTIE',
       'RACE CROISEE (PÈRE NON CONFORME)',
       'MERE NON CONFORME (MANQUE INFORMATIONS)',
       'MERE NON CONFORME (TAUREAU FERME)',
       'MERE NON CONFORME (TAUREAU DE FERME)',
       'MERE NON CONFORME (CROISEE)',
       'SORTIE + MERE NON CONFORME (GENEALOGIE)',
       'MERE NON CONFORME (LAIT: DISCORDANCE DES VALEURS ENTRE FICHE LACTATION ET RAPPORT MENSUEL DU CONTROLE LAITIER)',
       'PAS DE REGISTRE SUR PLACE',
       'RACE CROISEE (PÈRE NON CONFORME) + MANQUE CARTE SNIT +PAS DE REGISTRE SUR PLACE',
       'ABATTAGE URGENT', 'CROISEMENT',
       'MERE NON CONFORME GENEALOGIE: CROISEMENT)',
       'MERE NON CONFORME GENEALOGIE: CROISEMENT) +DECES', nan,
       'NON PRESENTEE + SANS BOUCLE', 'MERE NON CONFORME (GENELOGIE)',
       'GENISSE NON INSCRITE AU REGISTRE', 'GENISSE NON NEE SUR UP',
       'SNIT NON CONFORME', 'CECITE', 'NON PRESENTEE ',
       'DÉJÀ SELECTIONNEE LE "20/11/2017"', 'NON PRESENTEE 30-01-2018',
       'MERE NON CONFORME GENEALOGIE',
       'MERE NON ONFORME (MANQUE INFORMATIONS)',
       'MERE NON CONFORME (CROISEMENT MB*FLECKVIEH)',
       'MERE NON CONFORME (GENEALOGIE)+ MANQUE CARTE SNIT',
       'RACE CROISEE + MERE NON CONFORME (CROISEE)',
       'ORIGINE INCONNU (NON ENREGISTREE AU REGISTRE)', 'NON PRESNETEE',
       'SANS BOUCLE + MANQUE CARTE SNIT',
       'MERE NON CONFORME (GENEALOGIE) + MANQUE CARTE SNIT',
       ' MERE NON CONFORME (GENEALOGIE)',
       'RACE CROISEE (VIANDE) + MERE NON CONFORME (GENEALOGIE)',
       'MERE NON CONFORME GENEALOGIE)', 'NON CONFORMITE CARTE SNIT',
       'M.N.C', 'MERE CROISEE (HL*MB)', 'DÉJÀ SELECTIONNEE(21/11/2017)',
       'MERE NON CONFORME(ORIGINE)', 'MERE NON CONFOMRE', 'NON PRESENTER',
       'GPM TAUREAU DE FERME NON CONFORME', 'GPM NON CONFORME',
       'DÉJÀ SELECTIONNEE (JUIN2017)', 'GMP NON CONFORME (T , ferme)',
       'GPM N CONFORME', 'MALE ', 'DECES ', 'GPM (T, FERME)',
       'PROBLEME IDENTIFICATION', 'L MNC (Lait )', 'MNC  (Lait )',
       'NON IDENTIFIEE DS REGISTRE DE NAISSANCE',
       'MERE NON CONFORME (PURETE RACE)', 'MANQUE CARTE SNIT ',
       'CROISEE+DECES', 'CROISEE + SORTIE',
       'MERE NON CONFORME (LAIT) + DECES',
       'NON PRESENTEE+ MERE NON CONFORME (GENEALOGIE)',
       'NON PRESENTEE+ MERE NON CONFORME (GENEALOGIE)+ MANQUE FICHE LACTATION',
       'NON PRESNTEE', 'NON ENREGISTREE DANS LE REGISTRE',
       'NON ENREGISTREE DANS LE REGISTRE DES NAISSANCES',
       'NON ENREGISTREE DANS LE REGISTRE DES NAISSANCES + NON PRESENTEE',
       'NON PRESENTEE+MANQUE CARTE SNIT', 'AGE NON CONFORME+MANQUE F.L.',
       'MERE MON CONFORME (F.L.)', 'DÉJÀ SELECTIONNEE 20-11-2017',
       'MERE NON CONORME (GENEALOGIE)', 'CROISEE (HL*BBB)',
       'CROISEE HL*BBB', 'DÉJÀ SELECTIONNEE LE 23/08/2017', 'VELAGE',
       'race à viande', 'age non conforme', 'vélage', 'non présentée ',
       'deces', 'manque snit', 'mere non conforme', 'race croisée',
       'RACE CROISEE HL*CHAROLAIS',
       'DISCORDANCE NOM PERE ENTRE CARTE SNIT ET LE REGISTRE', 'VELEE',
       'MANQUE CARTE SSNIT + NON PRESENTEE', 'PHENOTYPE ATYPIQUE',
       'NON ENREGISTRE DANS LE REGISTRE DES NAISSANCES',
       'GENISSE CROISEE (HL*MB)', 'MERE NON CONFORME (FLK*MB)',
       'MANQUE INFO SUR TAUREAU (PÈRE)',
       'DISCORDANCE DE NUM MERE DE LA GENISSE FI - CARTE SNIT - REGISTRE DES NAISSANCES',
       'DISCORDANCE DES INFOS SUR GENISSE ENTRE CARTE SNIT - REGISTRE DES NAISSANCES',
       'CROISEE HL*FLK', 'MERE NON CONFORME (F.L.)', 'MANQUE F.L.',
       'MANQUE SNIT', 'SORTIE ', 'DOCUMENT NON PRESENTES+MNC',
       'DOCUMENT NON PRESENTES', 'non presentee', 'non présentée',
       'MNC (ORIGINE)', 'NON ENREGISTREE +DECES', 'NON ENREGISTREE ',
       'MERE NON CONFORME (GENEALOGIE)+ NON PRESENTEE', 'MANQ SNIT',
       'CROISEE (HL*MB)', 'C.N.C', 'MERE NON CONFORME (Généalogie)',
       'M.N.C (LAIT) + C.N.C', 'M.N.C (LACTATION)', 'M.N.C (LAIT) ',
       'M.N.C (LAIT)', 'MNC (LAIT)', "DISCORDANCE D'ONFORMATION",
       'M.N.C (INCONNU)', 'SORTIE + NON ENREGITRE DANS LE REGISTRE',
       'M.N.C (TF)', 'M.N.C (GENEALOGIE)', ' MANQUE FICHE LACTATION',
       'Manque Fiche Lactation', 'MNC (GENEALOGIE) + DECES',
       'MNC (GENEALOGIE) + MANQUE FICHE LACTATION + DECES',
       'MNC (GENEALOGIE) +DECES', 'Manque fiche lactation',
       'MANQUE FICHE LACTATION + DECES',
       'MNC (GMM 2 VELAGES EN 3 SEMAINES)', 'MNC (ISSUE TF)',
       'MANQUE FICHE LACTATION + CNC', 'MNC (TF)',
       'CARTE SNIT NON CONFORME', 'MAQNUE FICHE LACTATION', 'Décès',
       'MNC (LAIT VELAGE NON DECLARE)', 'Manque Fiche Lactation + SORTIE',
       'MANQUE FICHE LACTATION + SORTIE', 'MNC (RACE INCONNUE)',
       'NON CONFORME', 'IDENTIFICATION NON CONFORME', 'NP',
       'MANQ F.LACTATION', 'MERE N.C (Vêlage N.déclarée)',
       'MANQUE FICHE DE LACTATION', 'MERE N.C (LAIT)',
       'DISCORDANCE DES DONNEES AVEC LES RAPPORTS DU CL ',
       'MANQUE FICHE DE LACTATION + NP', 'CROISEE (MB*FLK)',
       'SORTIE+MALE', 'CROISEE (BA*FLK) + SORTIE', 'MNC (CROISEE)',
       ' MANQUE FICHE DE LACTATION', 'C.N.C (Boiteries)',
       'M.N.C (PURETE)', 'MANQUE FICHE DE LACTATION + SORTIE',
       'Manque fiche de lactation', 'MERE NON CONFORME (PURETE)',
       'DÉJÀ SELECTIONNE 18-02-2020', 'O TAIMA'], dtype=object)

In [6]:
df_subset.drop(df_subset.tail(3).index,inplace=True)
df_subset

C:\Users\Houda S\AppData\Local\Temp\ipykernel_10604\3419433938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset.drop(df_subset.tail(3).index,inplace=True)

,Code UP,ZONE,Nom UP,N° SNIT génisse,N° SNIT génisse_1,N° SNIT génisse_2,N° CARTE SNIT,Date de naissance,RACE,N° SNIT Mère,N° SNIT Mère_1,N° SNIT Mère_2,N° SNIT père ou nom (taureau IA),Date de sélection,OBSERVATION
0,M-09-014,MASSA,BOUZOUAI ALI,MAR06BB000096118,NaN,NaN,NaN,2016-10-15 00:00:00,HOL,MAR06BG000088165,NaN,NaN,BACON,2018-01-17,OK
1,M-09-014,MASSA,BOUZOUAI ALI,MAR06BE000096119,NaN,NaN,NaN,2016-10-20 00:00:00,HOL,MAR06BI000088185,NaN,NaN,BRANCH-ET,2018-01-17,OK
2,M-09-014,MASSA,BOUZOUAI ALI,MAR06BI000096120,NaN,NaN,NaN,2016-10-29 00:00:00,HOL,MAR06BF000088168,NaN,NaN,MICAH-ET,2018-01-17,OK
3,M-09-014,MASSA,BOUZOUAI ALI,MAR06BB000096121,NaN,NaN,NaN,2016-11-04 00:00:00,HOL,MAR06BB000088157,NaN,NaN,MICAH-ET,2018-01-17,OK
4,M-09-014,MASSA,BOUZOUAI ALI,MAR06BE000096122,NaN,NaN,NaN,2016-11-06 00:00:00,HOL,MAR06BG000088194,NaN,NaN,GINARY JAKE,2018-01-17,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13602,M-15-172,MASSA,WAGAGUE IDRISSI MOHAMMED,MAR06BC000359159,MAR06BJ000352412,NaN,5696049,2018-08-09 00:00:00,HOL,MAR06BD000096815,NaN,NaN,MIRROR,2020-05-28,OK
13603,G-19-269,EL GUERDANE,ZGHAZ ABDERRAHMAN,MAR06BG000443731,NaN,NaN,5784709,2018-05-20 00:00:00,HOL,MAR06BD000204070,NaN,NaN,LOUDER,2020-05-15,OK
13604,G-19-269,EL GUERDANE,ZGHAZ ABDERRAHMAN,MAR06BJ000443132,NaN,NaN,5784708,2018-06-24 00:00:00,HOL,MAR06BJ000202076,NaN,NaN,MACHINE,2020-05-15,OK
13605,G-19-269,EL GUERDANE,ZGHAZ ABDERRAHMAN,MAR06BC000443733,NaN,NaN,5784707,2018-08-10 00:00:00,HOL,MAR06F000233208,NaN,NaN,LOUDER,2020-05-15,OK
13606,G-19-269,EL GUERDANE,ZGHAZ ABDERRAHMAN,MAR06BF000443734,NaN,NaN,5784706,2018-08-20 00:00:00,HOL,MAR06BF000243217,NaN,NaN,MIRROR,2020-05-15,OK

In [36]:
df_subset['OBSERVATION'] = df_subset['OBSERVATION'].replace(['age non conforme'],'AGE NON CONFORME')

C:\Users\Houda S\AppData\Local\Temp\ipykernel_4756\1948547429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['OBSERVATION'] = df_subset['OBSERVATION'].replace(['age non conforme'],'AGE NON CONFORME')

In [7]:
df_subset.loc[df_subset.OBSERVATION=='Mére Non Conforme','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C.','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE N.C (Généalogie)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE N.C (GENEALOGIE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME GENEALOGIE','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (CROISEMENT MB*FLECKVIEH)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION==' MERE NON CONFORME (GENEALOGIE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME GENEALOGIE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME(ORIGINE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFOMRE','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C (TF)','OBSERVATION']= 'MNC'

In [8]:
df_subset.loc[df_subset.OBSERVATION=='MNC (TF)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C (TF)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE N.C (LAIT)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C (TF)','OBSERVATION']= 'MNC'

In [9]:
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (GENEALOGIE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MNC (GENEALOGIE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (ORIGINE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE MON CONFORME (F.L.)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONORME (GENEALOGIE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='mere non conforme','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (FLK*MB)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (F.L.)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MNC (ORIGINE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C (INCONNU)','OBSERVATION']= 'MNC'

In [10]:
df_subset.loc[df_subset.OBSERVATION=='CONFORMATION NON CONFORME','OBSERVATION']= 'CNC'
df_subset.loc[df_subset.OBSERVATION=='CONFOMRATION NON CONFORME','OBSERVATION']= 'CNC'
df_subset.loc[df_subset.OBSERVATION=='C.N.C.','OBSERVATION']= 'CNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (PURETE RACE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='C.N.C','OBSERVATION']= 'CNC'

df_subset.loc[df_subset.OBSERVATION=='NON PRESENTEE LE 09-03-2017','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESENTEE LE 09-03-2018','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESENTEE LE "16/03/2017"','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESENTEE LE "23-03-2017"','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESENTEE LE 21-06-2017','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESENTEE LE 30/11/2017','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESENTEE ','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NP','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='non presentee','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='non présentée','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='non présentée ','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESNTEE','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESENTEE ','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESENTEE 30-01-2018','OBSERVATION']= 'NON PRESENTEE'

In [16]:
uniqueRace = df_subset['OBSERVATION'].unique()
uniqueRace

array(['OK', 'NON TROUVEE', 'NON PRESENTEE', 'CNC',
       'NON BOUCLEE LE "16-02-2017"', 'DECES', 'MNC', 'SORTIE',
       'PÈRE NON CONFORME', 'RACE A VINADE', 'CROISEE (HOL*BBB)',
       'NON BOUCLEE "LE 23-02-2017" ',
       'AGE NON CONFORME + MERE NON CONFORME (LAIT)', 'CROISEE',
       'AGE NON CONFORME + MERE NON CONFORME (GENEALOGIE)',
       'MERE NON CONFORME (LAIT) + MERE NON CONFORME (GENEALOGIE)',
       'MALE', 'DÉJÀ SELECTIONNEE LE 18/05/2016',
       'GENISSE NON PRODUITE SUR UNITE',
       'MERE NON CONFORME (GENEALOGIE) + NAISSANCE NON SIGNALE AU NIVEAU DE REGISTRE DES NAISSANCES',
       'RACE A VIANDE', 'CROISEE HL*MB',
       'MERE NON CONFORME (LAIT) + AGE NON CONFORME',
       'NON BOUCLE LE "17/04/2017"',
       'NON PRESENTEE LE 21-06-2017 ET MERE NON CONFORME (PEDIGREE)',
       'MERE NON CONFORME (PROBLEME CARTE SNIT) + CONFORMATION NON CONFORME',
       'ANC', 'AGE NON CONFORME + MERE NON CONFORME (PEDIGRE)',
       'RACE CROISEE', 'Sortie', 'Sans Boucle', 'RACE CROISE',
       'SANS BOUCLE', 'LACTATION NQ ', 'sortie', 'Race croisée',
       'LACTATION NON QUALIFIANTE', 'Vélage', 'MANQUE CARTE SNIT',
       'déjà sélectionnée 03/08/2017', 'NON PRESENTEE+M.N.C.',
       'M.N.C. + NON PRESENTEE', 'MÂLE', 'PBL DE BOUCLES',
       'DÉJÀ SELECTIONNEE', 'MANQUE FICHE LACTATION',
       'MANQUE DE DOCUMENTS (CARTE SNIT)', 'SORTIE+AGE NON CONFORME',
       'SANS BOUCLE LE "08-11-2017"', 'CROISEE + DECES',
       'SANS BOUCLE LE 08-11-2017', 'NON BOUCLEE LE "08-11-2017"',
       'DÉJÀ SELECTIONNEE "01/06/2016" +AGE NON CONFORME',
       'T.FERME (GPM)', 'MERE NON CONFORME (GENEALOGIE) + SORTIE',
       'Déjà sélectionnée(PV17/02/2017)', 'CROISEE (HL*ANGUS)',
       'MANQ CARTE SNIT', 'CROISEE(HL*MB)', 'CROISEE (FLK*HL)',
       'CARTE SNIT ERRONEE', 'RACE CROISEE + SORTIE',
       'PÈRE NON CONFORME (TAUREAU DE FERME)',
       'RACE CROISEE (PÈRE NON CONFORME) + SORTIE',
       'RACE CROISEE (PÈRE NON CONFORME)',
       'SORTIE + MERE NON CONFORME (GENEALOGIE)',
       'PAS DE REGISTRE SUR PLACE',
       'RACE CROISEE (PÈRE NON CONFORME) + MANQUE CARTE SNIT +PAS DE REGISTRE SUR PLACE',
       'ABATTAGE URGENT', 'CROISEMENT',
       'MERE NON CONFORME GENEALOGIE: CROISEMENT) +DECES', nan,
       'NON PRESENTEE + SANS BOUCLE', 'GENISSE NON INSCRITE AU REGISTRE',
       'GENISSE NON NEE SUR UP', 'SNIT NON CONFORME', 'CECITE',
       'DÉJÀ SELECTIONNEE LE "20/11/2017"',
       'MERE NON CONFORME (GENEALOGIE)+ MANQUE CARTE SNIT',
       'RACE CROISEE + MERE NON CONFORME (CROISEE)',
       'ORIGINE INCONNU (NON ENREGISTREE AU REGISTRE)',
       'SANS BOUCLE + MANQUE CARTE SNIT',
       'MERE NON CONFORME (GENEALOGIE) + MANQUE CARTE SNIT',
       'RACE CROISEE (VIANDE) + MERE NON CONFORME (GENEALOGIE)',
       'NON CONFORMITE CARTE SNIT', 'MERE CROISEE (HL*MB)',
       'DÉJÀ SELECTIONNEE(21/11/2017)',
       'GPM TAUREAU DE FERME NON CONFORME', 'GPM NON CONFORME',
       'DÉJÀ SELECTIONNEE (JUIN2017)', 'GMP NON CONFORME (T , ferme)',
       'GPM N CONFORME', 'MALE ', 'DECES ', 'GPM (T, FERME)',
       'PROBLEME IDENTIFICATION', 'L MNC (Lait )', 'MNC  (Lait )',
       'NON IDENTIFIEE DS REGISTRE DE NAISSANCE', 'MANQUE CARTE SNIT ',
       'CROISEE+DECES', 'CROISEE + SORTIE',
       'MERE NON CONFORME (LAIT) + DECES',
       'NON PRESENTEE+ MERE NON CONFORME (GENEALOGIE)',
       'NON PRESENTEE+ MERE NON CONFORME (GENEALOGIE)+ MANQUE FICHE LACTATION',
       'NON ENREGISTREE DANS LE REGISTRE',
       'NON ENREGISTREE DANS LE REGISTRE DES NAISSANCES',
       'NON ENREGISTREE DANS LE REGISTRE DES NAISSANCES + NON PRESENTEE',
       'NON PRESENTEE+MANQUE CARTE SNIT', 'AGE NON CONFORME+MANQUE F.L.',
       'DÉJÀ SELECTIONNEE 20-11-2017', 'CROISEE (HL*BBB)',
       'CROISEE HL*BBB', 'DÉJÀ SELECTIONNEE LE 23/08/2017', 'VELAGE',
       'race à viande', 'vélage', 'deces', 'manque snit', 'race croisée',
       'RACE CROISEE HL*CHAROLAIS',
       'DISCORDANCE NOM PERE ENTRE CARTE SNIT ET LE REGISTRE', 'VELEE',
       'MANQUE CARTE SSNIT + NON PRESENTEE', 'PHENOTYPE ATYPIQUE',
       'NON ENREGISTRE DANS LE REGISTRE DES NAISSANCES',
       'GENISSE CROISEE (HL*MB)', 'MANQUE INFO SUR TAUREAU (PÈRE)',
       'DISCORDANCE DE NUM MERE DE LA GENISSE FI - CARTE SNIT - REGISTRE DES NAISSANCES',
       'DISCORDANCE DES INFOS SUR GENISSE ENTRE CARTE SNIT - REGISTRE DES NAISSANCES',
       'CROISEE HL*FLK', 'MANQUE F.L.', 'MANQUE SNIT', 'SORTIE ',
       'DOCUMENT NON PRESENTES+MNC', 'DOCUMENT NON PRESENTES',
       'NON ENREGISTREE +DECES', 'NON ENREGISTREE ',
       'MERE NON CONFORME (GENEALOGIE)+ NON PRESENTEE', 'MANQ SNIT',
       'CROISEE (HL*MB)', 'M.N.C (LAIT) + C.N.C',
       "DISCORDANCE D'ONFORMATION",
       'SORTIE + NON ENREGITRE DANS LE REGISTRE',
       ' MANQUE FICHE LACTATION', 'Manque Fiche Lactation',
       'MNC (GENEALOGIE) + DECES',
       'MNC (GENEALOGIE) + MANQUE FICHE LACTATION + DECES',
       'MNC (GENEALOGIE) +DECES', 'Manque fiche lactation',
       'MANQUE FICHE LACTATION + DECES', 'MANQUE FICHE LACTATION + CNC',
       'CARTE SNIT NON CONFORME', 'MAQNUE FICHE LACTATION', 'Décès',
       'Manque Fiche Lactation + SORTIE',
       'MANQUE FICHE LACTATION + SORTIE', 'NON CONFORME',
       'IDENTIFICATION NON CONFORME', 'MANQ F.LACTATION',
       'MANQUE FICHE DE LACTATION',
       'DISCORDANCE DES DONNEES AVEC LES RAPPORTS DU CL ',
       'MANQUE FICHE DE LACTATION + NP', 'CROISEE (MB*FLK)',
       'SORTIE+MALE', 'CROISEE (BA*FLK) + SORTIE',
       ' MANQUE FICHE DE LACTATION', 'C.N.C (Boiteries)',
       'MANQUE FICHE DE LACTATION + SORTIE', 'Manque fiche de lactation',
       'DÉJÀ SELECTIONNE 18-02-2020', 'O TAIMA'], dtype=object)

In [13]:
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (LAIT)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (PEDIGREE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (PEDIGREE + PROBLEME CARTE SNIT))','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (PROBLEME CARTE SNIT)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (PEDIGRE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='Mére non conforme','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (MANQUE INFORMATIONS)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (TAUREAU FERME)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (TAUREAU DE FERME)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (CROISEE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (LAIT: DISCORDANCE DES VALEURS ENTRE FICHE LACTATION ET RAPPORT MENSUEL DU CONTROLE LAITIER)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME GENEALOGIE: CROISEMENT)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (GENELOGIE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON ONFORME (MANQUE INFORMATIONS)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (Généalogie)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C (LACTATION)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C (LAIT) ','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C (LAIT)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MNC (LAIT)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C (GENEALOGIE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MNC (GMM 2 VELAGES EN 3 SEMAINES)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MNC (ISSUE TF)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MNC (LAIT VELAGE NON DECLARE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MNC (RACE INCONNUE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE N.C (Vêlage N.déclarée)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MNC (CROISEE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='M.N.C (PURETE)','OBSERVATION']= 'MNC'
df_subset.loc[df_subset.OBSERVATION=='MERE NON CONFORME (PURETE)','OBSERVATION']= 'MNC'

In [15]:
df_subset.loc[df_subset.OBSERVATION=='Non trouvée','OBSERVATION']= 'NON TROUVEE'
df_subset.loc[df_subset.OBSERVATION=='non trouvée','OBSERVATION']= 'NON TROUVEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESNETEE','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='NON PRESENTER','OBSERVATION']= 'NON PRESENTEE'
df_subset.loc[df_subset.OBSERVATION=='AGE NON CONFORME','OBSERVATION']= 'ANC'
df_subset.loc[df_subset.OBSERVATION=='age non conforme','OBSERVATION']= 'ANC'
df_subset.loc[df_subset.OBSERVATION=='ok','OBSERVATION']= 'OK'

In [18]:
df_subset.to_excel('cleaned_BDSelect.xlsx',index=False)

In [21]:
cleaned_df =pd.read_excel('cleaned_BDSelect.xlsx')
cleaned_df

,Code UP,ZONE,Nom UP,N° SNIT génisse,N° SNIT génisse_1,N° SNIT génisse_2,N° CARTE SNIT,Date de naissance,RACE,N° SNIT Mère,N° SNIT Mère_1,N° SNIT Mère_2,N° SNIT père ou nom (taureau IA),Date de sélection,OBSERVATION
0,M-09-014,MASSA,BOUZOUAI ALI,MAR06BB000096118,NaN,NaN,NaN,2016-10-15 00:00:00,HOL,MAR06BG000088165,NaN,NaN,BACON,2018-01-17,OK
1,M-09-014,MASSA,BOUZOUAI ALI,MAR06BE000096119,NaN,NaN,NaN,2016-10-20 00:00:00,HOL,MAR06BI000088185,NaN,NaN,BRANCH-ET,2018-01-17,OK
2,M-09-014,MASSA,BOUZOUAI ALI,MAR06BI000096120,NaN,NaN,NaN,2016-10-29 00:00:00,HOL,MAR06BF000088168,NaN,NaN,MICAH-ET,2018-01-17,OK
3,M-09-014,MASSA,BOUZOUAI ALI,MAR06BB000096121,NaN,NaN,NaN,2016-11-04 00:00:00,HOL,MAR06BB000088157,NaN,NaN,MICAH-ET,2018-01-17,OK
4,M-09-014,MASSA,BOUZOUAI ALI,MAR06BE000096122,NaN,NaN,NaN,2016-11-06 00:00:00,HOL,MAR06BG000088194,NaN,NaN,GINARY JAKE,2018-01-17,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13658,T-07-059,TAROUDANT,EL BOUDERKAOUI MY Brahim,MAR06BE000214120,NaN,NaN,NaN,2015-10-25 00:00:00,HOL,NaN,NaN,NaN,NaN,2017-10-30,ANC
13659,T-07-059,TAROUDANT,EL BOUDERKAOUI MY Brahim,MAR06BA000214122,NaN,NaN,NaN,2015-10-27 00:00:00,HOL,NaN,NaN,NaN,NaN,2017-10-30,ANC
13660,T-15-157,TAROUDANT,SALAMOU MBAREK,MAR06BH000267112,NaN,NaN,NaN,2016-07-21 00:00:00,HOL,MAR06BH000123179,NaN,NaN,BRANCH-ET,2017-11-29,MNC
13661,B-07-046,O BERHIL,EZZYADI Fatah,MAR06BI000330891,NaN,NaN,5708891,2018-07-19 00:00:00,HL,MAR06BG000133030,NaN,NaN,TAILLIGHT,2019-09-09,NRR
13662,G-15-177,ELGUERDANE,EL MOUDEN ELHABIB,MAR06BH000300529,NaN,NaN,5770089,2018-11-13 00:00:00,HOL,MAR01BC000736774,NaN,NaN,ELVIS,2020-02-05,MALE

In [22]:
uniqueRace = cleaned_df['RACE'].unique()
uniqueRace

array(['HOL', 'MB', 'Brune Suisse', 'BRUNE SUISSE', 'BR SUISSE', 'RH',
       'BR,SS', 'BRAL', 'CROISEE', 'B S', 'FLK', 'BRA', 'BA', 'FLECK',
       'HOLSTEIN', nan, 'F', 'BR AL', 'HL', 'FLECKVIEH'], dtype=object)

In [23]:
cleaned_df.loc[cleaned_df.RACE=='HOL','RACE']= 'HOLSTEIN'
cleaned_df.loc[cleaned_df.RACE=='HL','RACE']= 'HOLSTEIN'
cleaned_df.loc[cleaned_df.RACE=='Brune Suisse','RACE']= 'BRUNE SUISSE'
cleaned_df.loc[cleaned_df.RACE=='BR SUISSE','RACE']= 'BRUNE SUISSE'
cleaned_df.loc[cleaned_df.RACE=='BR,SS','RACE']= 'BRUNE SUISSE'
cleaned_df.loc[cleaned_df.RACE=='B S','RACE']= 'BRUNE SUISSE'
cleaned_df.loc[cleaned_df.RACE=='FLK','RACE']= 'FLECKVIEH'
cleaned_df.loc[cleaned_df.RACE=='FLECK','RACE']= 'FLECKVIEH'
cleaned_df.loc[cleaned_df.RACE=='F','RACE']= 'FLECKVIEH'

In [24]:
cleaned_df.loc[cleaned_df.RACE=='BRA','RACE']= 'BRUNE AL'
cleaned_df.loc[cleaned_df.RACE=='BA','RACE']= 'BRUNE AL'
cleaned_df.loc[cleaned_df.RACE=='BRAL','RACE']= 'BRUNE AL'

In [25]:
cleaned_df

,Code UP,ZONE,Nom UP,N° SNIT génisse,N° SNIT génisse_1,N° SNIT génisse_2,N° CARTE SNIT,Date de naissance,RACE,N° SNIT Mère,N° SNIT Mère_1,N° SNIT Mère_2,N° SNIT père ou nom (taureau IA),Date de sélection,OBSERVATION
0,M-09-014,MASSA,BOUZOUAI ALI,MAR06BB000096118,NaN,NaN,NaN,2016-10-15 00:00:00,HOLSTEIN,MAR06BG000088165,NaN,NaN,BACON,2018-01-17,OK
1,M-09-014,MASSA,BOUZOUAI ALI,MAR06BE000096119,NaN,NaN,NaN,2016-10-20 00:00:00,HOLSTEIN,MAR06BI000088185,NaN,NaN,BRANCH-ET,2018-01-17,OK
2,M-09-014,MASSA,BOUZOUAI ALI,MAR06BI000096120,NaN,NaN,NaN,2016-10-29 00:00:00,HOLSTEIN,MAR06BF000088168,NaN,NaN,MICAH-ET,2018-01-17,OK
3,M-09-014,MASSA,BOUZOUAI ALI,MAR06BB000096121,NaN,NaN,NaN,2016-11-04 00:00:00,HOLSTEIN,MAR06BB000088157,NaN,NaN,MICAH-ET,2018-01-17,OK
4,M-09-014,MASSA,BOUZOUAI ALI,MAR06BE000096122,NaN,NaN,NaN,2016-11-06 00:00:00,HOLSTEIN,MAR06BG000088194,NaN,NaN,GINARY JAKE,2018-01-17,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13658,T-07-059,TAROUDANT,EL BOUDERKAOUI MY Brahim,MAR06BE000214120,NaN,NaN,NaN,2015-10-25 00:00:00,HOLSTEIN,NaN,NaN,NaN,NaN,2017-10-30,ANC
13659,T-07-059,TAROUDANT,EL BOUDERKAOUI MY Brahim,MAR06BA000214122,NaN,NaN,NaN,2015-10-27 00:00:00,HOLSTEIN,NaN,NaN,NaN,NaN,2017-10-30,ANC
13660,T-15-157,TAROUDANT,SALAMOU MBAREK,MAR06BH000267112,NaN,NaN,NaN,2016-07-21 00:00:00,HOLSTEIN,MAR06BH000123179,NaN,NaN,BRANCH-ET,2017-11-29,MNC
13661,B-07-046,O BERHIL,EZZYADI Fatah,MAR06BI000330891,NaN,NaN,5708891,2018-07-19 00:00:00,HOLSTEIN,MAR06BG000133030,NaN,NaN,TAILLIGHT,2019-09-09,NRR
13662,G-15-177,ELGUERDANE,EL MOUDEN ELHABIB,MAR06BH000300529,NaN,NaN,5770089,2018-11-13 00:00:00,HOLSTEIN,MAR01BC000736774,NaN,NaN,ELVIS,2020-02-05,MALE

In [27]:
uniqueUP = cleaned_df['Nom UP'].unique()
uniqueUP

array(['BOUZOUAI ALI', 'DKAIR AHMED', 'LACHGAR SAID', 'CHOUKRI HASSAN',
       'AIT CHAGUER MOHAMED', 'OUHNA BRAHIM', 'BELKADI NASSER',
       'SEBAAY EL MOSTAFA', 'EL HAROUCH MOHAMED', 'IBNOU RASS ABDELKARIM',
       'CHOUFANI ABDELMALEK', 'AMGOUNE MAHJOUB', 'EL ADOUDI TAYEB',
       'BOUTERHA AOMAR', 'ALA ABDERRAHMANE', 'BELHASSAN ABDELLATIF',
       'ABID ABDELLATIF', 'LAZIM MOHAMED', 'ALLAOUI MOHAMED',
       'SIDKQI OTHMAN', 'OUMELLOUK BOUJEMAA', 'RAFI MOHAMED AMINE',
       'BOUKDIR OMAR', 'KABEL MOHAMED', 'KAYOUH ABDENAIM',
       'ABRASSOU ABDELLAH', 'MAKTANE SAID', 'LOULTITI MY RACHID',
       'ABDAIMI AHMED', 'BELHASSAN EL HASSAN', 'ES-SALEHY IDRISS',
       'ALIOUA ABDALLAH', 'MOSTAGHFIR MOHAMED', 'AIT SALEM MOHAMED',
       'ACHANDIR HICHAM', 'ALHIANE BOURHIM', 'EL AABOUBI KHALID',
       "LKAM M'HAMED", 'BISSA ISMAIL', "LOULTITI MY M'HAMED",
       'TAOUFIQ ABDERRAHMANE', 'AIT KARROUM LARBI', 'MOUHALA AMAL',
       'BOUNIT RACHID', 'EZZYADI FATAH', 'LAAFISSI ABDELAZIZ',
       'CHAKARTOU MOHAMED', "SALAMOU M'BAREK", 'ALOUMAIRI MOHAMED',
       'NADIM ASMAE', 'LOULTITI MY HACHMI', 'NAIT OUALI AHMED',
       'ESSEKAR ABDERRAHIM', 'ESSABIRI MOHAMED', 'SERBAL HOUMAD',
       'NAT OUALI ALI', 'NAT OUALI MOHAMED', 'ACHEHBOUNE SAID',
       'LOULTITI MY ABDELMAJID', 'EL AOUFI ABDELLATIF',
       'COOPERATINE NAHDA', 'EL MASSI KABBOUR', 'EL BIYADI HOUMAD',
       'TOUHAMI MOHAMED', 'JALAL NOUREDDINE', 'ZENATY HASSAN',
       'ESSADIK DRISS', 'EL BOUDERKAOUI MY BRAHIM',
       'BOUKDIR OMAR (BAAKILA)', 'AIT HAMMOU LAHCEN',
       'AIT AZIZOU ABDELLATIF', 'AIT AZIZOU KHALID', 'DIOUANE AHMED',
       'EZZOUBAIRI HMDNAH', 'EL MOUADDENE LAHCEN', 'EL ABBOUBI KHALID',
       'ZAGOUR ABDERRAHMAN', 'EL HABZA ABDERRAHMANE', 'BEN SOUDEN RACHID',
       'EL GHABOURI BOUMAHDI', "BANOU M'BAREK", 'EL HAFA ABDELMAJID',
       'EL GUENGUE AISSA', 'EL BAHJA MOHAMED', 'AMAZAL KABOUR',
       'JEBHA YOUSSEF', 'EL MASSI ABDELAZIZ', 'BOURA ABDELHADI',
       'EL MOUDEN HASSAN', 'BAHA ABDERRAHMANE', 'MOUSAHIF CHOUAAYB',
       'CHBANI MOHAMED', 'SISSID EL YAZID', 'BOUZAOUI ABDELLATIF',
       'LAGRIDANI ALI', 'MOUNSIF ABDELLAH', 'TOUIJER MOHAMED',
       'KAYOUH MOHAMED', 'CHANBET MOHAMED', 'KAYOUH EL YAZID',
       'GOULT ABALLAH', 'LAMINE ABDELLATIF', 'EL BIKRI AHMED',
       'ZOUIKIR LYAZID ', 'HEMMOUDERH EL BACHIR', 'SERHANE ABDELAZIZ',
       'EL MOUDEN EL HABIB', 'AABIDI SLIMANE', 'DIBA HASSAN',
       'GOURTI EL HACHEMI', 'HMIDA ABDELAZIZ', 'MAITOUF MOHAMED',
       'EL BSSITA OMAR', ' ABIDI ALI', 'LAAROUSSINE SAID',
       'BERRIGA RACHID', 'ADERDOUR YOUSSEF', 'CHATER YOUSSEF',
       'CHATTER YOUSSEF', 'EL ALAOUI EL HASSANI EL ATLASSE LOUBNA',
       'HSSEINA LARBI', 'CHATTER MOHAMED', 'KAYOUH MOHAMED 2',
       'ERRAGRAGUI ALI', 'SHAIMI NACER', 'SAMAOUI ABDELLAH',
       'AIT BELLA LAHOUSSINE', 'HAMDI ABDELKABIR', 'HARBI LALA HAFIDA',
       'JOUGHRE HASSAN', 'AMAZAL ESSAID', 'BELAHMAM ABDELKBIR',
       'TAOUFIKI BRAHIM', 'MOUNSIF BRAHIM', 'MOUZOUNI JAMAA',
       'BOUCHOUKOU BRAHIM', 'BOUKYOUD KHALID', 'EL HJOUJI MHAMED',
       'EL MAJDOUB AHMED', 'EL MESSAOUDI MOULAY MOHAMED',
       'ETTALBI ABDALLAH', 'GUEDIRA MOHAMED', 'MAKHELLA LAHCEN',
       'OUBAK DRISS', 'ZERBIT ABDERRAHMANE', 'BENEZZAHHAF ABDELHAMID',
       'EL MOUDNI OMAR', 'LABIAD ABDELAZIZ', 'WATTAK ABDELLAH',
       'OUSSALEM ABDALLAH', 'WAGAGUE IDRISSI MOHAMMED', 'ZAGNIN LAHCEN',
       'AIT HFID ABDELLAH', 'AMCASSOU MOHAMED', 'ASSEBAB EL MOKHTAR',
       'AZEROUR SAID', 'BATHA EL MOKHTAR', 'BENSALAH MOHAMED',
       'ECHAOUI MOHAMED', 'EL MOUDEN LAHOUSSINE', 'FENNAN MOHAMED',
       'HARDOUF SAID', 'EL JAOUHARI HASSAN', 'LAHLOU HASSAN',
       'ERRAMI LAHOUCINE', 'BATHA  EL MOKHTAR', 'OUSSALEM LAHOUCINE',
       'BENSALAH  MOHAMED', 'ZERBET ABDERRAHMAN', 'EL MOUDNI   OMAR',
       'CHAOUI  MOHAMED', 'BEN ZAHHAF ABDELHAMID', 'ELHAJOUJI MOHAMED',
       'OUSSALEM LAHCEN', 'EL MAJDOUB  AHMED', 'BERRIGA ABDELLATIF',
       'BOUTARHA OMAR', 'DIOUAN  AHMED', 'EL AADOUDI TAYEB',
       'ELMOUDEN ALI', 'EL BOUDERKAOUI MY Brahim', 'EZZYADI Fatah',
       'EL BOUBEKRAOUI MOHAMED AMINE', 'AIT IDIR ISMAIL',
       'LOUBNA EL ALAOUI EL HASSANI EL ATLASSI', 'EL-MOUDEN HASSAN',
       'MOUSSAHIF CHOUAYB', 'FAGOUL ABDELAAZIZ', 'BAHA ABDERRAHMAN ',
       'LAGOUMIRI AHMED', 'BELHASSAN HASSAN', 'BELKADI NACER',
       'STE BERKANINE WADRI LAHCEN', 'BOUKDIR OMAR (O. AISSA)',
       'BOUNIT ABED', 'EL BIYADI HOUMMAD', 'NAIT OUALI MOHAMED',
       'NAIT OUALI ALI', 'LOULTITI MY MHAMED', 'JALAL NOUREDINE',
       'SALAMOU MBAREK', 'COOPERATIVE NOUMEDIA',
       'EL MOUATASSIM BIH BRAHIM', 'LKAM MHAMED', 'SIDKI OTHMANE',
       'TAAMRANT MOHAMED', 'AABID ABDELLATIF', 'AIT NOUISSE BRAHIM',
       'COOPERATIVE NAHDA', 'EL BELAIDI MOHAMED', 'IBNOURASS ABDELKARIM',
       'MOUNFIK SAID', 'BISSA LARBI', 'EL BEKRI AHMED',
       'LAARAJ EL HASSAN', 'EL HABZA ABDERRAHIM', 'ZOUIKIR LYAZID',
       'EL GHABOURI SMAIL', 'AIT LAMAALEM BELAAID', "BANO M'BAREK",
       'EL ALAOUI  LOUBNA', 'BAALI HOMMAD', 'BOUKDIR HASSAN',
       'ABRASSOU ABDELLAH ', 'EL MOUATASSIM BIH Brahim',
       'LOULTITI Abdelmajid', 'AIT HAMMOU LAHCEN ', 'ZINATY HASSAN',
       'ACHEHBOUNE SAID ', 'NAIT OUALI AHMED BEN MOHAMED',
       'TOUHAMI Mohamed', 'AIT-NOUISSE BRAHIM', 'AIT AZIZOU KHALID ',
       'ELADOUDI TAYEB', "LOULTITI MY M'hamed", 'OUMELLOUK BOUJEMAA ',
       'BENBAHCINE ABDELLAZIZ', 'MOUNSIF ABDELLAH (OMAR)',
       'BOUHDOUD MOHAMED', 'NAIT OU ALI Ali', 'NAIT OU ALI AHMED',
       'ZAGOUR ABDERRAHMANE', 'EL GOURTI MY HACHEM', 'BELHMAM ABDELKBIR',
       'HAMDI ABDELKBIR', 'TOUIJER  MOHAMMED', 'FAGOUL ABDELAZIZ',
       'EL GRIDANI ALI', 'KAYOUH MOHAMED2', 'SHIMI NACER',
       'MOUSSAHIF CHOUAIB', 'MOUNSIF OMAR', 'CHFER FATNA',
       'EL MOTAOUAKIL HOUMMAD', 'EL MASSI KABOUR', 'OUMLOUK BOUJEMAA',
       'NADIM ASMAA', 'LOULTITI MY HACHOUM', 'KOUKOU OMAR',
       'ZAOUIKIR LYAZID', 'ELGUENGUE AISSA', 'BELKAS JAMAL',
       'EL HOURTI MY HACHEMI', 'AIT AMJJOUD FARESS', 'EL MOUDEN ELHABIB',
       'EL BAHAR BOUJEMAA', 'CHANBETE MOHAMED', 'CHTOUKI LARBI',
       'MSELK LYAME ALI', 'AKTIR MY SAID', 'BELHASSAN EL HASSAN  ',
       'BOUKDIR HASSAN (O AISSA', 'EL BAHJA ABDELAAZIZ',
       'ESSALIHI HASSAN', 'LAZIM MOHAMED  ',
       'Sté BEKARIME (WADRI HASSAN)', 'MSELLEK LYAME ALI',
       'EL BAHJA MOHAMED ', 'GOURTI EL HACHMI', 'KEYOUH EL YAZID',
       'TOUIJAR MOHAMED', 'ZEMOURI  MOHAMED', 'AABIDI HJ SLIMANE',
       'AASLI LARBI', 'CHANBET HAJ MOHAMED', 'BELKASS JAMAL',
       'BOURANE ABDELLATIF', 'IKZARN ABDELAZIZE', 'KAYOUH HJ MOHAMED 2',
       'ABIDI ABDELAZIZ', 'AZIKI SLIMANE', 'OUAKHIR BRAHIM',
       'AIT SOUIRI ABDELAZIZ', 'EL GHALI ABDRAHMAN', 'AKTIR MY SAID 2',
       'BOUKDIR HASSAN 2', 'AMOUZOUNE MOHAMED', 'BOUKHCHINE AHMED',
       'ESSAHEL AISSA', 'OUZZMAN MOHAMED', 'HSSAINA LARBI',
       'RAGRAGUI ALI', 'CHATER MOHAMED', 'GUEDIRA   MOHAMED',
       'AIT  HFID  ABDELLAH', ' EL MOUDNI   OMAR',
       'EL MOUDEN  LAHOUSSINE', ' FENNAN MOHAMED', 'ZAGNIN  LAHCEN',
       'OUBAK   DRISS', 'EL MESSAOUDI MY MOHAMED',
       'WAGAGUE IDRISSI MOHAMED', 'HERITIER MOUNSIF ABDELLAH',
       'MAITOUF Mohamed', 'AIT LAMAALEM BELAID', 'AIT BELLA EL HOUCINE',
       'BOUFASS ABDELALI', 'BELLAHAMAM ABDELKBIR', 'BOUCHHAR LARBI',
       'NEBOU ABDELAZIZ', 'EL BHAR BOUJEAA', 'ZEMOURI MOHAMED',
       'LAKHROUB MOUSSA', 'NEBBOU ABDELAZIZ', 'Sté BEKARIME (WADARI)',
       'AIT OUBAHA SAID', 'BEN LARBI LAHSEN', 'WALYAD MOHAMED',
       'ENNOUIFI DRISS', 'OUSSALEM ABDELLAH', 'AIT HFID ABDALLAH',
       'AMAZAL HJ KABOUR', 'MKIRICH NOUREDDINE', 'BELAYADI ABDERRAHIM',
       'RABAOUA KHALID', 'Sté BEKARIME (WADRI)', 'SGHIRI MUSTAPHA',
       'MOURCHID ABDELLAH', 'AL KAOUCH SAID', 'BELLAHMAM ABDELKBIR',
       'TAOUFIKI Brahim', 'TEKHLIS ALI', 'EL OTMANI AMINE',
       'BEN LARBI   LAHSEN', ' BATHA  EL MOKHTAR', 'BERRIGA Abdellatif',
       'ZGHAZ ABDERRAHMAN', 'DONIT MOHAMED', 'AMGHAR MOHAMED',
       'BOURANE ABDELGHANI', 'JOUGHR HASSAN', 'IKZARN ABDELAZIZ',
       'HERITIER ABIDI ALI', 'KAYOUH MOHAMED 3', 'ASSIKAR ABDELLAH',
       'EL KIBIR MOHAMED', 'BELAARIBI EL FATMI', "CHOUKRI M'BAREK ",
       'EL OUAFI MOHAMED', 'KAYOUH ABDESSALAM', 'LAHMIDI HAJAR',
       'SEDKI OUTMAN'], dtype=object)

In [28]:
cleaned_df.to_excel('final_BDSelect.xlsx',index=False)

In [42]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.figure import Figure